.AddHomeDiv{
    height: 63px;
    background:  #fa8900;
    display: flex;
    position: relative;
}
#saveButss{
    color: white;
}
.homes{
    display:block;
}
.header{

    border: solid 3px black;
    position:absolute;
    left: 48%;
    margin-top: 7px;
}
.headerItems{
    display:inline-flex;
    position: relative;
}
body{

}
h1{
    font-family: "Open Sans", serif;
}
h2{
    font-family: "Open Sans", serif;
}
.headerImg{
    width: 60px;
    height: 20px;
    position: absolute;
    left: 850px;
    top:8px;
    background: url("../images/Webp.net-resizeimage (5).png") no-repeat;
}
.welcomeHeader{
    position: absolute;
    right: 43.3%;
}
#inputss{
    color:black;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    /*top: 3px;*/
    margin-left: 20px;
    margin-right: 20px;
    top: 9px;
    height: 35px;
}
.userHeader{
    padding: 10px;
    margin:0 auto;
    position: absolute;
    /*right: 65px;*/
    left: 42.8%;

}