.card{
    /*cursor:pointer;*/
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
    display:inline-block;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
.labels .green {
    background-color: green;
    width: 20px;
    height: 20px;
    display:inline-block;
    border-radius: 25px;
}
.labels .blue {
    background-color: blue;
    width: 20px;
    height: 20px;
    display:inline-block;
    border-radius: 25px;
}
.labels .red {
    background-color: red;
    width: 20px;
    height: 20px;
    display:inline-block;
    border-radius: 25px;
}
.card.coverImg{
    background-size: contain;
}
.Desc{
    cursor:pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../images/Webp.net-resizeimage.png") ;
    background-repeat: no-repeat;
}
.Checklist{
    cursor:pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../images/Webp.net-resizeimage (1).png") ;
    background-repeat: no-repeat;
}
.Comments{
    cursor:pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../images/Webp.net-resizeimage (2).png") ;
    background-repeat: no-repeat;
}