.editCard{
    cursor: pointer;
    border:1px solid;
    color: #fff;
    background-color: darkseagreen;
    box-shadow: 2px 2px 5px #AFE9FF;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
.images{
    position: relative;
    /*top: 60%;*/
}
.editCard:hover{
    color: slategray;
    /*border: 1px solid #006398;*/
    box-shadow: 2px 2px 20px #AFE9FF;
}
.deleteCard{
    cursor: pointer;
    color: #fff;
    background-color: darkseagreen;
    font-weight: 100;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px #AFE9FF;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
.deleteCard:hover{
    color: slategray;
    /*border: 1px solid #006398;*/
    box-shadow: 2px 2px 20px #AFE9FF;

}
.buttonDiv{
    position: relative;
    top:40%
}
.card{
    cursor:grab;
    position: relative;
    /*cursor:pointer;*/
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: #f1f1f1;
    height: 200px;
    width: 100%;
    display:inline-block;
    border-radius: 25px;
    border:  solid #73AD21;
    margin-top: 5px;
    margin-bottom: 2px ;
}
.card:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    transition: 2s;
}
.card:hover{
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.4);
}

.labels .green {
    margin-left: 1px;
    margin-right: 1px;
    background-color: forestgreen;
    width: 30px;
    height: 5px;
    display:inline-block;
}
.labels .blue {
    margin-left: 1px;
    margin-right: 1px;
    background-color: darkblue;
    width: 30px;
    height: 5px;
    display:inline-block;
}
.labels .red {
    margin-left: 1px;
    margin-right: 1px;
    background-color: indianred;
    width: 30px;
    height: 5px;
    display:inline-block;
}
.Desc{
    cursor:pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../images/Webp.net-resizeimage.png") ;
    background-repeat: no-repeat;
}
.Checklist{
    cursor:pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../images/Webp.net-resizeimage (1).png") ;
    background-repeat: no-repeat;
}
.Comments{
    cursor:pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../images/Webp.net-resizeimage (2).png") ;
    background-repeat: no-repeat;
}