.descName{
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 15px;
    line-height: 10px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}
#forDesc{
    padding: 5px;
}
#lol2{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    width:35%;
    left:225px;
    /*margin-top: 5px;*/
}
#ownerHeader{
    padding: 5px;
    transition: 2s;
}
#comments{
}
.line{
    padding: 5px;
}
#ownerHeader:hover{
    /*border-bottom: 2px solid black;*/
}
.fix{
    position: relative;
    bottom:7px;
    border-bottom:2px solid grey;
}
#cardName{
    padding: 5px;
}
[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}
#exitEdit{

    position: relative;
    left: 39%;
    margin-bottom: 15px;
}
#for{
    position: relative;
    left:300px;
}
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}
/*::-webkit-scrollbar {*/
/*    width: 20px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 5px grey;*/
/*    border-radius: 10px;*/
/*}*/
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*    background: red;*/
/*    border-radius: 10px;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #b30000;*/
/*}*/
[type="file"] + label {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
[type="file"] + label {
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #f15d22;
}

[type="file"]:focus + label {
    outline: 1px dotted #000;
}
#lol{
    position: relative;
    /*right: 55%;*/
    left: 44%;
    margin-top: 5px;
}
.appendDiv input{
    margin-top: 5px;
}
.appendDiv button{
    margin-top:5px;
}
.name{
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 15px;
    line-height: 10px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}
.popup {
    /*margin: 10px;*/
    top:10px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 98%;
    /*overflow-x: inherit;*/
    /*width: 750px;*/
    left:650px;
    /*max-height: 100%;*/
    position: fixed;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*left: 34%;*/
    /*z-index: 9999999;*/
}
#commentDiv{
    margin: 25px;
    position: relative;
    left:23%;
}
#commentInp{
    width: 95%;
    position: relative;
    left: 22px;
}
#saveComment{
    position: relative;
    left:39%;
    margin-top: 5px;
    margin-bottom:5px;
}

#qweqwe{
    padding: 5px;
    margin:5px;
    width: 80%;
    position: relative;
    left:10%
}
#mySaveButton{
    position: relative;
    left: 43%;
}
.blue{
    min-height: 20px;

    margin-top: 3px;
    padding:2px;
    text-align:center;
    border-radius: 5px;
    min-width: 30px;
    background: cornflowerblue;
    margin-right: 4px;
    margin-left: 4px;
    width: fit-content;
    height: fit-content;
}
#myInputArea{
    margin:5px;
    width: 96%;
    left: 13px;
    position: relative;
}
.currentLabels{
    padding: 5px;
    display: inline-flex;
}
.wrapperEditCard{
    background: #F4F5F7;
    border-radius: 15px;
    width: 750px;
    /*left: -12px;*/
    position: relative;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}
#dynamicName{
    margin-left:25px;
}
.red{
    min-height: 20px;
    
    margin-top: 3px;
    padding:2px;
    width: fit-content;
    height: fit-content;
    text-align:center;
    border-radius: 5px;
    min-width: 30px;
    background: #d9534f;
    margin-right: 4px;
    margin-left: 4px;
}
.green{
    min-height: 20px;

    margin-top: 3px;
    padding:2px;
    width: fit-content;
    height: fit-content;
    text-align:center;
    border-radius: 5px;
    min-width: 30px;
    background:forestgreen;
    margin-right: 4px;
    margin-left: 4px;
}
li{
    background: #cce5ff;
    margin: 5px;
}
#blockquote{
    font-size: 20px;
    width: auto;
    height: auto;
    word-break: break-word;
    position: relative;
}

.saveDesc{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.items{
    position: relative;
}
.buttonDiv button{
    margin: 5px;
    padding: 5px;
}
.buttonDiv input{
    margin: 5px;
    padding: 5px;
}
#descSave{
    position: relative;
    left: 40%;
    margin: 10px;
}
.toDoName{
    width:82%;
    border:1px solid #ccc;
    font-family:raleway
}
#progressBar{
    color:black;
}

#addCheck{
    /*margin-left: 10px;*/
    position: relative;
    left:40%;
    margin-top:20px ;
}
#greenLabel{
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 7px;
    /*margin-left: 276px;*/
    /*margin-right: 276px;*/
    cursor:pointer;
}

#redLabel{
    padding: 7px;
    font-size: 13px;

    cursor:pointer;
}
#blueLabel{
    padding: 7px;
    font-size: 13px;

    cursor:pointer;
}
#checklistItem{
    margin-top:30px ;
    margin-bottom: 10px;
    position: relative;
    left: 37%;
}
#checklistItem:hover{
    color:white;
}
#for{
    margin-top: 10px;
    margin-bottom: 10px;
}

