.listContainer {
    display: flex;
}
.addList{

    background-color: #3e8e41;
}

.addListButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}
.listInput {
    background-color: black;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;

}
.listInput:focus{
    width: 40%;
}
.addListButton:hover {background-color: #3e8e41}

.addListButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*.HomeComp{*/
/*    height: 100vh;*/
/*    display: grid;*/
/*}*/
#root{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
