.emptyList{
    background-color:transparent ;
    width: auto;
    height: 1000%;

}
.cardContainer{
    position:relative;
    top: 10px;
    margin: 10px;
    border-style:solid;
    border-color: #CDE2B8;
    width: 250px;
    background-color: #CDE2B8;
    border-radius: 20px;
}
.container{
    max-width: 16%;
    margin-right: 0.5rem;
    display: inline-block;
}

#root{
    width: auto;
    height: auto;
}
.addImage{
    cursor:pointer;
    display: inline-block;
    width:   16px;
    height:  16px;
    background-image:url("../images/plus (1).png")  ;
}
.addCard{
    cursor:pointer;
    position: relative;
    left:35%;
    display: inline-block;
    border:0.1em solid #000000;
    border-radius: 0.12em;
    box-sizing: border-box;
    color:#000000;
    text-shadow:0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: forestgreen;
    transition: all 0.5s;
    font-family:'Roboto',sans-serif;
    color: white;
}
.addCard:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color: #FFFFFF;
}
.listName{
    text-align: center;
    background: transparent;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    position: relative;
    font-weight: normal;
    animation: bp
}
