.cardList{
    cursor: pointer;
    border-width: 10px;
    background-color:#D5D8DC ;
}
.emptyList{
    background-color:#D5D8DC ;
    width: auto;
    height: 1000%;
}
.cardContainer{
    position: relative;
    width: auto;
    padding: 0px;
    margin: 0;
}
.container{
    max-width: 16%;
    margin-right: 0.5rem;
}

#root{
    width: auto;
    height: auto;
}
.containerHeader{

}
.addImage{
    display: inline-block;
    width:   16px;
    height:  16px;
    background-image:url("../images/plus (1).png")  ;
}