.emptyList{
    background-color:transparent ;
    width: auto;
    height: 1000%;

}
.cardContainer{
    position: relative;
    width: auto;
    margin: 0;
    border-radius: 25px;
    border: 0px solid #73AD21;
}
.container{
    max-width: 16%;
    margin-right: 0.5rem;
}

#root{
    width: auto;
    height: auto;
}
.containerHeader{

}
.addImage{
    cursor:pointer;
    display: inline-block;
    width:   16px;
    height:  16px;
    background-image:url("../images/plus (1).png")  ;
}
.addCard{
    background-color:#ABAB8F;
    border-radius: 25px;
    border: 2px solid #ABAB8F;
    position: relative;
    left: 25px;
}
.listName{
    position: center;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
}